<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      /*Estilo local del componente*/
      :host {
        display: block;
        /* Para inicializar los estilos, y q no se hereden de index.html */
        /*all: initial;*/
        /*border: solid red;*/
      }

      .redbg {
        background-color: red;
      }

      .greenbg {
        background-color: green;
      }

      .bluebg {
        background-color: blue;
      }

      .greybg {
        background-color: grey;
      }
    </style>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="row greybg">
      <!-- sm es para tamaño sm y superior. Se tieien q utilizar con class="row"-->
      <!-- <div class="col-2 col-sm-4 redbg">Col red</div> -->
      <!-- offset para desplazamientos -->
      <div class="col-2 offset-3 col-sm-4 redbg">Col red</div>
      <div class="col-1 offset-1 greenbg">Col green</div>
      <div class="col-1 offset-1 bluebg">Col blue</div>
    </div>

    <button class="btn btn-primary btn-lg">Login</button>
    <button class="btn btn-secondary btn-sm">Logout</button>
    <button class="btn btn-success">Login</button>
    <button class="btn btn-info">Logout</button>
    <button class="btn btn-danger">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-light">Login</button>
    <button class="btn btn-dark">Logout</button>

    <!-- Data-binding, este es de tipo one way. Se está vinculando el valor de la propiedad value -->
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <!-- <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]]</h3> -->

<!-- Se incluye el evento después de ::
    El tag input, al ser nativo de HTML, tiene su evento específico, q es input
    Otros tags nativos, como select, tienen sus propios eventos
    Los web components que creemos, tienen un evento común q es change -->
    <!-- <input type="text" value="{{first_name::input}}" /> -->
    <!-- Poner el atributo max al final -->
    <!-- <input type="range" min="18" value="{{age::input}}" max="99" /> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            // value: 'frontproyecto-app'
            value: 'prueba'
          }, first_name: {
            // Son tipos JS
            type: String
          }, last_name: {
            type: String
          }, age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
