<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div>Account list:</div>
    <template is="dom-repeat" items="{{accounts}}">
      <div>IBAN: <span>{{item.IBAN}}</span></div>
      <div>Balance: <span>{{item.balance}}</span></div>
      </ br>
    </template>

<!-- on-response - Función manejadora, función q se ejecuta al finalizar la llamada
     auto - q se ejecute automaticamente cuando se carga el component
    handle-as - cómo queremos intrepentar la respuesta -->
    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v1/user/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
    />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          // Cuidado, los nombre aquí no deben coincidir con elementos HTML
          userid: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail);
        console.log(data.detail.response);
        console.log(data.detail.response[0]);

        this.accounts = data.detail.response;
      }
    }

// Se vincula (registra) el customElement
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
