<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>Soy el emisor</h3>
    <button on-click="sendEvent">No pulsar</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {
        };
      }

      sendEvent(e) {
        console.log("Se ha pulsado el botón");
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            // No poner mayúsculas en nombres de eventos, este es el nombre del evento
            "myevent",
            {
              // Dentro del objeto detail se incluye el payload
                "detail" : {
                  "course" : "TechU",
                  "year" : 2018
                }
            }
          )
        )
      }
    }

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
