<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email [[email]]</h3>
    <a href="http://127.0.0.1:8081/user/{{id}}/accounts">Ver cuentas</a>

<!-- on-response - Función manejadora, función q se ejecuta al finalizar la llamada
     auto - q se ejecute automaticamente cuando se carga el component
    handle-as - cómo queremos intrepentar la respuesta -->
    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail);
        console.log(data.detail.response);

// this - para hacer referencia a mí mismo
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }

// Se vincula (registra) el customElement
    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
